{% extends "layout.html" %}

{% block body %}

{% for line in story %}
<span class="container">
    <p>{{ line|safe }}</p>
</span>
{% endfor %}

<script>
    function scrollToBottom() {
        window.scrollTo(0, document.body.scrollHeight); 
    }

    window.onload = function() {
        setTimeout(scrollToBottom, 100); 
    }; 

    document.addEventListener('keydown', function(event) {
        let url = null;

    if (event.key === "m") url = '/display_map';
    else if (event.key === "i") url = '/display_inventory';
    else if (event.key === "h") url = '/help';
    else if (event.key === "g") url = '/grab';
    else if (event.key === "w") url = '/north';
    else if (event.key === "a") url = '/west';
    else if (event.key === "s") url = '/south';
    else if (event.key === "d") url = '/east';
    else if (event.key === "u") url = '/use';
    else if (event.key === "n") url = '/inspect';
    else if (event.key === "c") url = '/clear';

    if (url) {
        fetch(url, { method: 'GET' })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.text(); // Optional: Get server response if needed.
            })
            .then(() => {
                setTimeout(() => {
                    location.reload(); 
                })
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.'); // Optional: Display an error message.
            });
    }
}); 
</script>

{% endblock %}