{% extends "layout.html" %}

{% block body %}

{% for line in story %}
<span class="container">
    <p>{{ line|safe }}</p>
</span>
{% endfor %}

<script>
    function scrollToBottom() {
        window.scrollTo(0, document.body.scrollHeight); 
    }

    window.onload = function() {
        setTimeout(scrollToBottom, 100); 
    }; 

    document.addEventListener('keydown', function(event) {
        if (event.key === "m") {
            fetch('/display_map', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "i") {
            fetch('/display_inventory', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "h") {
            fetch('/help', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "g") {
            fetch('/grab', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "w") {
            fetch('/north', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "a") {
            fetch('/west', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "s") {
            fetch('/south', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "d") {
            fetch('/east', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "u") {
            fetch('/use', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "n") {
            fetch('/inspect', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        } else if (event.key === "c") {
            fetch('/clear', {
                method: 'GET', 
            }).then(function(response) {
                location.reload(); 
            }).catch(function(error) {
                console.log('Error:', error)
            })
        }
    })
</script>

{% endblock %}